{%   extends 'partials/base.html' %}

{% block title %}
My Own Private Cloud
{% endblock %}

{% block content  %}

<div class="main">
    <div class="left">
        <div class="tile org" style="background-color: white; text-align: center; padding-top: 3px">
            <a href="{% url 'index' %}">
                <i class="fas fa-address-book" style="font-size: 4em; color: green; background-color: white;"></i>
            </a>
            <p class="active" style="font-size: xx-small; color:black;">Contacts</p>
        </div>
        <div class="tile org" style="background-color: grey; text-align: center; padding-top: 3px">
            <a href="#">
                <i class="far fa-calendar-alt" style="font-size: 4em; color: green; background-color: grey;"></i>
            </a>
            <p class="inactive" style="font-size: xx-small; color:black;">Calendar</p>
        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
    </div>
    <div class="main-logo">
        <div class="cont-row">
            <div class="tile leisure active">
                <a href="{% url 'photologue:pl-gallery-archive' %}">
                    <i class="fas fa-images" style="font-size: 4em; color:green; background-color: white;"></i>
                </a>
                <p class="active" style="font-size: xx-small; color:black;">Photo albums</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-sticky-note" style="font-size: 4em; color:green; background-color: grey;"></i>
                </a>
                <p class="inactive" style="font-size: xx-small; color:black;">Notes</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-bold" style="font-size: 4em; color:green; background-color: grey;"></i>
                </a>
                <p class="inactive" style="font-size: xx-small; color:black;">Blog</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-gamepad" style="font-size: 4em; color:green; background-color: grey;"></i>
                </a>
                <p class="inactive" style="font-size: xx-small; color:black;">Games</p>
            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
        </div>
        <div class="cont-row">
            <div class="tile pro active" style="background-color: white; text-align: center; padding-top: 3px">
                <a href="https://hebilidu.github.io">
                    <i class="fas fa-book" style="font-size: 4em; color: green; background-color: white;"></i>
                </a>
                <p class="active" style="font-size: xx-small; color:black;">Portfolio</p>
            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
        </div>
    </div>
    <div class="right">
        <div class="tile tech inactive" style="background-color: grey; text-align: center; padding-top: 3px">
            <a href="#">
                <i class="fas fa-server" style="font-size: 4em; color:green; background-color: grey;"></i>
            </a>
            <p class="inactive" style="font-size: xx-small; color:black;">File sharing</p>
        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
    </div> 
</div>

{% endblock  %}