{%   extends 'partials/base.html' %}

{% block title %}
My Own Private Cloud
{% endblock %}

{% block content  %}

<div class="main">
    <div class="left">
        <div class="tile org active" style="text-align: center; padding-top: 3px">
            <a href="{% url 'index' %}">
                <i class="fas fa-address-book active i-style"></i>
            </a>
            <p class="active p-style">Contacts</p>
        </div>
        <div class="tile org inactive" style="text-align: center; padding-top: 3px">
            <a href="http://mopc.hopto.org:8000/pages/my-first-calendar/">
                <i class="far fa-calendar-alt inactive i-style"></i>
            </a>
            <p class="inactive p-style">Calendar</p>
        </div>
        <div class="tile org inactive" style="text-align: center; padding-top: 3px">
            <a href="#">
                <i class="fas fa-birthday-cake inactive i-style"></i>
            </a>
            <p class="inactive p-style">Birthdays</p>
        </div>
        <div class="tile org inactive" style="text-align: center; padding-top: 3px">
            <a href="#">
                <i class="far fa-newspaper inactive i-style"></i>
            </a>
            <p class="inactive p-style">News aggregator</p>
        </div>
        <div class="tile undefined">

        </div>
    </div>
    <div class="main-logo">
        <div class="cont-row">
            <div class="tile leisure active">
                <a href="{% url 'photologue:pl-gallery-archive' %}">
                    <i class="fas fa-images active i-style"></i>
                </a>
                <p class="active p-style">Photo albums</p>
            </div>
            <div class="tile leisure active">
                <a href="{% url 'notes' %}">
                    <i class="fas fa-sticky-note active i-style"></i>
                </a>
                <p class="active p-style">Notes</p>
            </div>
            <div class="tile leisure active">
                <a href="{% url 'blog'  %}">
                    <i class="fas fa-bold active i-style"></i>
                </a>
                <p class="active p-style">Blog</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-gamepad inactive i-style"></i>
                </a>
                <p class="inactive p-style">Games</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-sitemap inactive i-style"></i>
                </a>
                <p class="inactive p-style">Genealogy</p>
            </div>
            <div class="tile leisure inactive">
                <a href="#">
                    <i class="fas fa-book inactive i-style"></i>
                </a>
                <p class="inactive p-style">Biography writer</p>
            </div>
            <div class="tile undefined">

            </div>
        </div>
        <div class="cont-row">
            <div class="tile pro active" style="text-align: center; padding-top: 3px">
                <a href="https://hebilidu.github.io">
                    <i class="fas fa-book active i-style"></i>
                </a>
                <p class="active p-style">Portfolio</p>
            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile undefined">

            </div>
            <div class="tile pro inactive" style="text-align: center; padding-top: 3px">
                <a href="#">
                    <i class="fas fa-spider inactive i-style"></i>
                </a>
                <p class="inactive p-style">Scraping</p>
            </div>
            <div class="tile pro inactive" style="text-align: center; padding-top: 3px">
                <a href="#">
                    <i class="fas fa-dice-d6 inactive i-style"></i>
                </a>
                <p class="inactive p-style">Blockchain</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="tile tech inactive" style="text-align: center; padding-top: 3px">
            <a href="#">
                <i class="fas fa-server inactive" style="font-size: 3.5em; color:green;"></i>
            </a>
            <p class="inactive p-style">File sharing</p>
        </div>
        <div class="tile tech inactive" style="text-align: center; padding-top: 3px">
            <a href="#">
                <i class="fas fa-key inactive" style="font-size: 3.5em; color:green;"></i>
            </a>
            <p class="inactive p-style">Passwords</p>
        </div>
        <div class="tile tech inactive" style="text-align: center; padding-top: 3px">
            <a href="#">
                <i class="fas fa-file-export inactive" style="font-size: 3.5em; color:green;"></i>
            </a>
            <p class="inactive p-style">Export and backup</p>
        </div>
        <div class="tile undefined">

        </div>
        <div class="tile undefined">

        </div>
    </div> 
</div>

{% endblock  %}
