{% extends 'partials/base.html'%}

{% block title %}Sign up{% endblock %}

{% block content  %}
<div class="main-signup">
  <div>
    <h2>Sign up to My Own Private Cloud</h2>
  </div>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
      <div>
        {{ field.label_tag }}
        <div class="cont-signup">
          <span>
          {{ field }}
          </span>
          {% if field.help_text %}
            <small style="color: lightgray">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    </p>
    {% endfor %}
    <button type="submit" class="btn-primary">Sign up</button>
  </form>

</div>
{% endblock %}
