{%   extends 'partials/blog.html' %}
{% load bootstrap %}

{% block title %}
{{ action }}
{% endblock %}

{% block content %}

{% if action == 'Add category' %}

    <div class="page-title">{{ action }}</div>
    <form method="POST" class="containerf col-6" enctype="multipart/form-data">
        {% csrf_token %}            
        {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% else %}
    <div class="page-title">{{ category.label }}</div>

    {% for p in category.posts.all %}
    <div class="article">
        <h1>{{ p.title }}</h1>
        <owner>{{ p.owner }} | </owner>
        <time>{{ p.date_created }}</time>
        {% for c in p.category.all %}
            <a href = "{% url 'category' c.slug %}">
                <button type="button" class="btn btn-info btn-sm">{{ c.label }}</button>
            </a>
        {%  endfor %}
        <p><strong>{{ p.intro }}</strong></p>
        <a href="{% url 'detail' p.slug  %}">
            <button type="button" class="btn btn-primary btn-sm">Read more...</button>
        </a>
    </div>
    {% endfor %}

    <a href="{% url 'blog' %}">
        <button type="button" class="btn btn-primary btn-sm">Back to full list</button>
    </a>
{% endif%}

{% endblock  %}