{%   extends 'partials/blog.html' %}

{% block title %}
List categories
{% endblock %}

{% block content %}

<div class="page-title">List categories</div><br>
<ul style="line-height: 2;">
    {% for c in categories %}
        <li>{{ c.label }}</li>
    {% empty %}
    <br>
        <p style="color: black; text-align: center;">No categories found..</p>
    {% endfor %}
</ul>
<br>

{% if user.is_staff %}
    <a href="{% url 'addcategory' %}">
        <button type="button" class="btn btn-primary btn-sm">Add a category</button>
</a>
{% endif %}

{% endblock  %}