{%   extends 'partials/blog.html' %}
{% load bootstrap %}

{% block title %}
Post detail
{% endblock %}

{% block content  %}

<div class="page-title">{{ post.title }}</div>

<div class="article">
    <owner>{{ post.owner }} | </owner>
    <time>{{ post.date_created }}</time>
    {% for c in post.category.all %}
        <a href = "{% url 'category' c.slug %}">
            <button type="button" class="btn btn-info btn-sm">{{ c.label }}</button>
        </a>
    {%  endfor %}
    <p><strong>{{ post.intro }}</strong></p>
    <hr>
    <p>{{ post.content }}</p>
</div>
<a href="{% url 'blog' %}">
    <button type="button" class="btn btn-primary btn-sm">Back to list</button>
</a>
<div class="comments">

    <h4>Comments</h4>
    {% for co in post.comments.all %}
        <div style="border: 1px solid white; border-radius: 0.6em; padding: 5px; margin-bottom: 0.5em;">
            <span class=title><strong>{{ co.title }}</strong></span>
            <span class="italic"> by {{ co.owner }} on {{co.date_created }}</span>
            <hr>
            <p>{{ co.content }}</p>
        </div>
    {% empty %}
        <h6>Be the first one to comment...</h6>
    {% endfor %}

    {% if action == 'Add comment' %}
        <form method="POST" class="containerf col-6" enctype="multipart/form-data">
            {% csrf_token %}            
            {{ form|bootstrap }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <a href="{% url 'addcomment' post.slug %}">
            <button type="button" class="btn btn-primary btn-sm">Add a comment</button>
        </a>
    {% endif %}

</div>

{% endblock  %}