{%   extends 'partials/blog.html' %}
{% load bootstrap %}

{% block title %}
{{ action }}
{% endblock %}

{% block content  %}

<div class="page-title">{{ post.title }}</div>
{% if action == "View post" %}
    <div class="article">
        <owner>{{ post.owner }} | </owner>
        <time>{{ post.date_created }}</time>
        {% for c in post.category.all %}
            <a href = "{% url 'category' c.slug %}">
                <button type="button" class="btn btn-info btn-sm">{{ c.label }}</button>
            </a>
        {%  endfor %}
        <p><strong>{{ post.intro }}</strong></p>
        <hr>
        {% autoescape off %}
        <p>{{ post.content }}</p>
        {% endautoescape %}
    </div>
    <a href="{% url 'blog' %}">
        <button type="button" class="btn btn-primary btn-sm">Back to list</button>
    </a>
    {% if post.owner == user %}
        <a href="{% url 'editpost' post.slug %}">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
        </a>
    {% endif %}
{% endif %}
{% if action == "Update post" %}
    <div class="article">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}          
            {{ form | bootstrap }}
            <br>
            <a href="{% url 'detail' post.slug %}">
                <button type="button" class="btn btn-danger btn-sm">Cancel</button>
            </a>
            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
    </div>
{% endif %}

<div class="comments">

    <h4>Comments</h4>
    {% for co in post.comments.all %}
        <div style="border: 1px solid white; border-radius: 0.6em; padding: 5px; margin-bottom: 0.5em;">
            <span class=title><strong>{{ co.title }}</strong></span>
            <span class="italic"> by {{ co.owner }} on {{co.date_created }}</span>
            <hr>
            <p>{{ co.content }}</p>
        </div>
    {% empty %}
        <h6>Be the first one to comment...</h6>
    {% endfor %}

    {% if action == 'Add comment' %}
        <form method="POST" class="containerf col-6" enctype="multipart/form-data">
            {% csrf_token %}            
            {{ form|bootstrap }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <a href="{% url 'addcomment' post.slug %}">
            <button type="button" class="btn btn-primary btn-sm">Add a comment</button>
        </a>
    {% endif %}

</div>

{% endblock  %}