ul{
    list-style-type: none;
}

.gridy{
    display: grid;
    grid-template-columns: 1fr 2fr 6fr;
    grid-template-areas: "a b c";
    margin: 0;
    height: 89vh;
    overflow-y: scroll;
}

.a{background-color: bisque; color: black;}
.b{background-color: rgb(204, 255, 196); color: black;}
.c{background-color: white; color: black;}
.a-inv{background-color: black; color: bisque;}
.b-inv{background-color: black; color: rgb(204, 255, 196);}
.c-inv{background-color: black; color: white;}

.categories{
    grid-area: a;
    padding: 0;
    margin:0;
    font-size: small;
}

.category-list ul,
.note-list ul{
    padding: 10px 15px;
}

.notes{
    grid-area: b;
    padding: 0;
    margin:0;
    font-size: small ;
}

.note{
    grid-area: c;
    padding: 0;
    margin:0;
    font-size: small;
}

.cdes{
    margin-bottom: 5px;
}

.category-form{
    border: 1px solid;
    padding: 2px 5px 5px 10px;
    margin: 5px 0 5px 0;
}